#!/usr/bin/make -f

%: 
	dh $@

override_dh_auto_build:

override_dh_install: f3dedd58.gpg
	dh_install

override_dh_auto_clean:
	rm -f f3dedd58.gpg
	dh_auto_clean

override_dh_builddeb:
	dh_builddeb -- --no-uniform-compression

%.gpg: %.asc
	gpg --dearmor < $< > $@
