#!/usr/bin/make -f

%: 
	dh $@

override_dh_auto_build:

override_dh_install: released.gpg develop.gpg
	dh_install

override_dh_auto_clean:
	rm -f *.gpg
	dh_auto_clean

override_dh_builddeb:
	dh_builddeb -- --no-uniform-compression

released.gpg: 6773d225.asc 67da21a4.asc
	gpg --dearmor < 6773d225.asc > 6773d225.gpg
	gpg --dearmor < 67da21a4.asc > 67da21a4.gpg
	cat 6773d225.gpg 67da21a4.gpg > released.gpg

develop.gpg: 10a04d46.asc
	gpg --dearmor < 10a04d46.asc > develop.gpg
